<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center">Edit Service</h2>

      <%= form_for(@service, html: { multipart: true }) do |f| %>
        <div class="form-group">
          <% if @service.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% @service.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price, class: "form-control" %>
        </div>

        <!-- Other form fields similar to the new service form -->

        <div class="form-group">
          <%= f.label :location, "Area" %>
          <%= f.collection_select(:location_id, Location.all, :id, :name, { prompt: "Select a location" }, class: "form-control") %>
        </div>

        <!-- Pre-filled fields with the existing service data -->
        <div class="form-group">
          <%= f.label :category_id %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: "Select a category" }, class: "form-control") %>
        </div>

        <!-- Add the image upload section, similar to the new service form -->

        <div class="form-group text-center">
          <%= f.submit "Update Service", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
