<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center">New Service</h2>

      <%= form_for(@service, html: { multipart: true }) do |f| %>
        <div class="form-group">
          <% if @service.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% @service.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :country %>
          <%= f.text_field :country, value: "Namibia", class: "form-control", readonly: true %>
        </div>
        
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, value: "Windhoek", class: "form-control", readonly: true %>
        </div>

        <div class="form-group">
          <%= f.label :location,"Area" %>
          <%= f.collection_select(:location_id, Location.all, :id, :name,{ prompt: "Select a location"}, class: "form-control") %>
        </div>

        <div class="form-group">
          <%= f.label :street_address, "Street Address (Optional)" %>
          <%= f.text_field :street_address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :category_id %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: "Select a category"}, class: "form-control") %>
        </div>

        <div class="form-group">
          <%= f.label :service_pictures, "Upload Service Pictures" %>
          <%= f.file_field :service_pictures, multiple: true, onchange: 'previewImages(this)' %>
        </div>

        <div id="image-preview" class="form-group">
          <!-- Image preview will appear here -->
        </div> 
  

        <div class="form-group text-center">
          <%= f.submit "Create Service", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
function previewImages(input) {
  var preview = document.getElementById('image-preview');
  
  // Clear any existing preview
  preview.innerHTML = '';

  if (input.files) {
    for (var i = 0; i < input.files.length; i++) {
      var reader = new FileReader();

      reader.onload = function(e) {
        var image = document.createElement('img');
        image.src = e.target.result;
        image.style.maxWidth = '150px'; // Adjust the maximum width as needed
        preview.appendChild(image);
      };

      reader.readAsDataURL(input.files[i]);
    }
  }
}
</script>