<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Windhoek Tradesperson Platform" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.raty' %>
    <%= stylesheet_link_tag 'jquery.raty', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'active_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>    
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.15.4/css/all.css" %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://code.jquery.com/jquery-3.5.1.slim.min.js' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
